body {
  margin: 0;
  padding: 0;
  height: 10vh;
  overflow: auto;
}

h1 {
  background: #000;
  color: aliceblue;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  margin: 0px;
}

.content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas: "img p";
}

p {
  text-align: center;
  align-items: center;
  grid-area: p;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: auto;
  margin: auto;
  margin-right: 1rem;
}

img {
  grid-area: img;
  height: 650px;
}

.footer{
  background: #000;
  color: aliceblue;
  font-size: 0.5rem;
  padding: 1rem;
}